swagger: "2.0"
info:
  title: "API de Microservicios"
  version: "1.1.0"
host: "microservicios-gateway-1qkjvfz9.uc.gateway.dev"
x-google-endpoints:
  - name: "microservicios-gateway-1qkjvfz9.uc.gateway.dev"
    allowCors: True
    
schemes:
  - "https"
securityDefinitions:
  firebase:
    type: "oauth2"
    flow: "implicit"
    authorizationUrl: ""                    
    x-google-issuer: "https://securetoken.google.com/misw-4301-native-cloud-433702"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    x-google-audiences: "misw-4301-native-cloud-433702"    


paths:
  /api/productos:
    post:
      operationId: "createProducto"
      summary: "Crear prductos"
      description: "Crea productos en el sistema de compras."
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Datos del producto"
          required: true
          schema:
            type: "object"
            properties:
              nombre:
                type: "string"
              fabricante_id:
                type: "integer"
              cantidad:
                type: "integer"
              precio:
                type: "number"
              moneda:
                type: "string"
              bodega:
                type: "string"
              estante:
                type: "string"
              pasillo:
                type: "string"
            required:
            - nombre
            - fabricante_id
            - cantidad
            - precio
            - moneda
            - bodega
            - estante
            - pasillo
              
      security:
        - firebase: []
      responses:
        201:
          description: "Producto creado"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/compras/api/productos"
    options:
      operationId: corsCreateProducto
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/compras
      responses:
        '200':
          description: A successful response


  /api/productos/upload:
    post:
      operationId: "uploadProductos"
      summary: "Carga masiva de productos"
      description: "Permite la carga masiva de productos mediante un archivo CSV con los campos: nombre, fabricante_id, cantidad, precio, moneda, bodega, estante y pasillo."
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - in: "formData"
          name: "file"
          description: "Archivo CSV con los campos: nombre, fabricante_id, cantidad, precio, moneda, bodega, estante y pasillo."
          required: true
          type: "string"
          format: "binary"
      responses:
        200:
          description: "Carga masiva procesada"
          schema:
            type: "object"
            properties:
              inserted:
                type: "integer"
              errors:
                type: "array"
                items:
                  type: "string"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/compras/api/productos/upload"
    
      security:
        - firebase: []
    options:
      operationId: "corsUploadProductos"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/compras/api/productos/upload"
      responses:
        '200':
          description: "CORS response"     

  /api/fabricantes:
    get:
      operationId: "listFabricantes"
      summary: "Listar fabricantes"
      description: "Devuelve una lista de fabricantes en el sistema de compras."
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de fabricantes"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/compras/api/fabricantes"
      security:
        - firebase: []
    post:
      operationId: "createFabricante"
      summary: "Crear fabricante"
      description: "Crea un fabricante en el sistema de compras."
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Datos del fabricante"
          required: true
          schema:
            type: "object"
            properties:
              nombre:
                type: "string"
              correo:
                type: "string"
              telefono:
                type: "string"
              empresa:
                type: "string"
      responses:
        201:
          description: "Fabricante creado"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/compras/api/fabricantes"
    options:
      operationId: corsAddFabricante
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/compras/api/fabricantes
      responses:
        '200':
          description: A successful response
      security:
        - firebase: []

  /api/fabricantes/upload:
    post:
      operationId: "uploadFabricantes"
      summary: "Carga masiva de fabricantes"
      description: "Permite la carga masiva de fabricantes mediante un archivo CSV con los campos: nombre, correo, telefono y empresa."
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - in: "formData"
          name: "file"
          description: "Archivo CSV con los campos: nombre, correo, telefono y empresa"
          required: true
          type: "string"
          format: "binary"
      security:
        - firebase: []
      responses:
        200:
          description: "Carga masiva procesada"
          schema:
            type: "object"
            properties:
              inserted:
                type: "integer"
              errors:
                type: "array"
                items:
                  type: "string"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/compras/api/fabricantes/upload"
    options:
      operationId: "corsUploadFabricantes"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/compras/api/fabricantes/upload"
      responses:
        '200':
          description: "CORS response"        

  /api/inventarios/pedidos:
    get:
      operationId: "listInventarioPedidos"
      summary: "Listar productos en invematrio para pedidos"
      description: "Lista todos los productos del inventario con campos básicos: producto_id, nombre, precio y stock para realizar pedidos"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de productos en inventario"
          schema:
            type: "array"
            items:
              type: "object"
              properties:
                producto_id:
                  type: "integer"
                nombre:
                  type: "string"
                precio:
                  type: "number"
                fabricante_id:
                  type: "integer"
                stock:
                  type: "integer"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/inventario/api/inventarios/pedidos"
      security:
        - firebase: []
    options:
      operationId: "corsListInventarioProductos"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/inventario/api/inventarios/pedidos"
      responses:
        '200':
          description: "CORS preflight response"

  /api/inventarios/ubicacion:
    get:
      operationId: "listInventarioUbicacion"
      summary: "Listar productos con ubicación"
      description: "Lista productos con ubicación; retorna producto_id, nombre, bodega y cantidad para la localizacion de productos en bodega"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de productos con ubicación"
          schema:
            type: "array"
            items:
              type: "object"
              properties:
                producto_id:
                  type: "integer"
                nombre:
                  type: "string"
                bodega:
                  type: "string"
                cantidad:
                  type: "integer"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/inventario/api/inventarios/ubicacion"
      security:
        - firebase: []
    options:
      operationId: "corsListInventarioUbicacion"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/inventario/api/inventarios/ubicacion"
      responses:
        '200':
          description: "CORS preflight response"

  /api/inventarios/{producto_id}:
    get:
      operationId: "getInventarioProducto"
      summary: "Detalle completo de producto en inventario"
      description: "Devuelve el detalle completo de un producto, incluyendo datos del producto y del inventario (stock, bodega, estante y pasillo)."
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "producto_id"
          type: "integer"
          required: true
          description: "ID del producto"
      responses:
        200:
          description: "Detalle completo del producto en inventario"
          schema:
            type: "object"
            properties:
              producto_id:
                type: "integer"
              nombre:
                type: "string"
              descripcion:
                type: "string"
              precio:
                type: "number"
              fabricante_id:
                type: "integer"
              stock:
                type: "integer"
              bodega:
                type: "string"
              estante:
                type: "string"
              pasillo:
                type: "string"
        404:
          description: "Producto no encontrado"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/inventario"
        path_translation: APPEND_PATH_TO_ADDRESS
      security:
        - firebase: []
    options:
      operationId: corsoptionsGetInventario
      parameters:
        - in: "path"
          name: "producto_id"
          type: "integer"
          required: true
          description: "ID del producto"
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/inventario
      responses:
        '200':
          description: A successful response
 
  
  /api/route:
    get:
      operationId: "listRutas"
      summary: "Listas rutas que han sido generadas"
      description: "Devuleve la lista de rutas que se han generado"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de rutas generadas"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/logistica/api/route"
      security:
        - firebase: []
    options:
      operationId: corsOptionsListRutas
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/logistica/api/route
      responses:
        '200':
          description: A successful response

  /api/route/{route_id}:
    get:
      operationId: "getRuta"
      summary: "Obtener una rutas que ha sido generada"
      description: "Devuleve la ruta que se han generado"
      produces:
        - "application/json"
      parameters:        
      - in: path
        name: route_id
        type: string
        required: true
        description: String ID de la ruta
      responses:
        200:
          description: "Lista de rutas generadas"
        404:
          description: "No se encontró esa ruta"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/logistica"
        path_translation: APPEND_PATH_TO_ADDRESS
      security:
        - firebase: []
    options:
      operationId: corsOptionsListRuta
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/logistica/api/route
      parameters:        
      - in: path
        name: route_id
        type: string
        required: true
        description: String ID de la ruta
      responses:
        '200':
          description: A successful response

  /api/add-stop-route:
    post:
      operationId: "addStop"
      summary: Add a stop to a route
      description: Adds a new stop to an existing route by ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Stop data and route ID
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                example: 17008418-3720-4530-9a59-760e9c8a7750
              parada:
                type: object
                properties:
                  nombre:
                    type: string
                    example: Parada 3
                  fecha:
                    type: string
                    example: 01/02/2026
                  cliente:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Cliente 1
                      direccion:
                        type: string
                        example: Cra. 11, 82-71, Bogotá, Colombia
                  vendedor:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Vendedor 1
                      direccion:
                        type: string
                        example: Calle 149, 16-56, Bogotá, Colombia
      responses:
        200:
          description: Stop successfully added to the route
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: true
              message:
                type: string
                example: Stop added to route successfully
        400:
          description: Invalid input
        500:
          description: Server error
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/logistica/api/add-stop-route"
    
      security:
        - firebase: []
    options:
      operationId: corsAddStop
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/logistica
      responses:
        '200':
          description: A successful response
  
  /api/generate-route:
    post:
      operationId: "generarRuta"
      summary: "Obtener una rutas que ha sido generada"
      description: "Devuleve la ruta que se han generado"
      produces:
        - "application/json"
      parameters:
      - in: body
        name: body
        description: Ruta con paradas
        required: true
        schema:
          type: object
          properties:
            nombre:
              type: string
              example: Ruta 1
            inicio:
              type: string
              example: Cl. 114a #45-78, Bogota, Colombia
            fin:
              type: string
              example: Cl. 114a #45-78, Bogota, Colombia
            paradas:
              type: array
              items:
                type: object
                properties:
                  nombre:
                    type: string
                    example: Parada 1
                  fecha:
                    type: string
                    example: 01/02/2026
                  cliente:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Cliente 1
                      direccion:
                        type: string
                        example: Cra. 11, 82-71, Bogotá, Colombia
                  vendedor:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Vendedor 1
                      direccion:
                        type: string
                        example: Calle 149, 16-56, Bogotá, Colombia
      responses:
        200:
          description: "Lista de rutas generadas"
        404:
          description: "No se encontró esa ruta"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/logistica/api/generate-route"
      security:
        - firebase: []
    options:
      operationId: corsGenerateRoute
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/logistica
      responses:
        '200':
          description: A successful response

  /api/pedidos:
    get:
      operationId: "getPedidos"
      summary: Obtener lista de pedidos
      description: "Devuelve la lista de pedidos"
      responses:
        200:
          description: Lista de pedidos
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/pedidos/pedidos"
      security:
        - firebase: []
    options:
      operationId: corsOptionsGetPedidos
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/pedidos/pedidos
      responses:
        '200':
          description: A successful response

  /api/pedidos/{pedido_id}:
    get:
      operationId: "getPedido"
      summary: Obtener pedido por ID
      description: "Devuelve el pedido con el ID especificado"      
      security:
        - firebase: []
      parameters:
        - in: path
          name: pedido_id
          type: string
          required: true
          description: ID 
      responses:
        200:
          description: "Pedido con el ID solicitado"
        404:
          description: "No se encontró ese pedido"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/pedidos/pedidos"
    options:
      operationId: corsOptionsGetPedido
      parameters:
        - in: path
          name: pedido_id
          type: string
          required: true
          description: ID 
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/pedidos/pedidos
      responses:
        '200':
          description: A successful response

  /api/pedidos/create_pedido:
    post:
      security:
        - firebase: []
      operationId: "crearPedido"
      summary: Crear un nuevo pedido
      responses:
        200:
          description: Pedido creado correctamente
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/pedidos/create_pedido"
    options:
      operationId: corsCreatePedido
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/pedidos
      responses:
        '200':
          description: A successful response

  /api/clients:
    post:
      operationId: "crearCliente"
      summary: Crear Visita nueva
      responses:
        200:
          description: Visita nueva creada correctamente
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas/api/clients"
    options:
      operationId: corsCrearCliente
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/ventas
      responses:
        '200':
          description: A successful response
    get:
      security:
        - firebase: []
      operationId: "listclientes"
      summary: "Listas clientes que han sido generadas"
      description: "Devuleve la lista de clientes que se han generado"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de clientes generadas"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas/api/clients"

  /api/clients/{client_id}:
    get:
      security:
        - firebase: []
      operationId: "getCliente"
      summary: "Obtener una Clientes que ha sido generada"
      description: "Devuleve la Cliente que se han generado"
      produces: 
        - "application/json"
      parameters:        
      - in: path
        name: client_id
        type: string
        required: true
        description: String ID de la Cliente
      responses:
        200:
          description: "Lista de Clientes generadas"
        404:
          description: "No se encontró esa Cliente"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas"
        path_translation: APPEND_PATH_TO_ADDRESS
    options:
      operationId: corsOptionsGetCliente
      parameters:        
      - in: path
        name: client_id
        type: string
        required: true
        description: String ID de la Cliente
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/ventas
      responses:
        '200':
          description: A successful response

  /api/visits:
    post:
      security:
        - firebase: []
      operationId: "crearVisita"
      summary: Crear Visita nueva
      responses:
        200:
          description: Visita nueva creada correctamente
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas/visits"
    options:
      operationId: corsCrearVisita
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/ventas/visits
      responses:
        '200':
          description: A successful response
    get:
      security:
        - firebase: []
      operationId: "listvisitas"
      summary: "Listas visitas que han sido generadas"
      description: "Devuleve la lista de visitas que se han generado"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de visitas generadas"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas/visits"
  
  /api/upload:
    post:
      security:
        - firebase: []
      operationId: "uploadVideoCommand"
      summary: "Subir video para procesamiento"
      description: >
        Sube un video para iniciar el procesamiento. El endpoint recibe un archivo en el 
        campo "video" y retorna un `job_id` junto 
        con el estado del procesamiento.
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - in: "formData"
          name: "video"
          type: "string"
          format: "binary"
          description: "Archivo de video a subir"
          required: true
      responses:
        201:
          description: "Video subido exitosamente. Se retorna el job_id y el estado del procesamiento."
          schema:
            type: "object"
            properties:
              job_id:
                type: "string"
              status:
                type: "string"
      x-google-backend:
        address: "http://recomendation-command.cppxcode.shop/api/upload"
    options:
      operationId: "corsUploadVideo"
      x-google-backend:
        address: "http://recomendation-command.cppxcode.shop/api/upload"
      responses:
        '200':
          description: "Respuesta CORS exitosa"

    
  /api/recommend:
    get:
      security:
        - firebase: []
      operationId: "getRecommendation"
      summary: "Obtener recomendación por job_id"
      description: >
        Consulta la recomendación generada para un job a partir de su `job_id` pasado como 
        parámetro de query. Retorna los datos completos de la recomendación basado en el video.
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "job_id"
          type: "string"
          required: true
          description: "Identificador del job para buscar la recomendación"
      responses:
        200:
          description: "Recomendación encontrada"
          schema:
            type: "object"
            properties:
              job_id:
                type: "string"
              final_state:
                type: "string"
              final_recommendation:
                type: "string"
              identified_objects:
                type: "string"
        400:
          description: "El parámetro 'job_id' es requerido."
        404:
          description: "No se encontró una recomendación para el job_id proporcionado."
      x-google-backend:
        address: "http://recomendation-query.cppxcode.shop/api/recommend"
    options:
      operationId: "corsGetRecommendation"
      x-google-backend:
        address: "http://recomendation-query.cppxcode.shop/api/recommend"
      responses:
        '200':
          description: "Respuesta CORS exitosa"

    
  /api/vendedores:
    post:
      operationId: "crearVendedor"
      summary: Crear Vendedor nueva
      responses:
        200:
          description: Visita nueva creada correctamente
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas/api/vendedores"
    options:
      operationId: corsCrearVendedor
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/ventas
      responses:
        '200':
          description: A successful response
    get:
      security:
        - firebase: []
      operationId: "listvendedores"
      summary: "Listas vendedores que han sido generadas"
      description: "Devuleve la lista de vendedores que se han generado"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de vendedores generadas"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas/api/vendedores"
        
  /api/vendedores/{vendedor_id}:
    get:
      security:
        - firebase: []
      operationId: "getvendedore"
      summary: "Obtener una vendedores que ha sido generada"
      description: "Devuleve la vendedore que se han generado"
      produces: 
        - "application/json"
      parameters:        
      - in: path
        name: vendedor_id
        type: string
        required: true
        description: String ID de la vendedore
      responses:
        200:
          description: "Lista de vendedores generadas"
        404:
          description: "No se encontró esa vendedore"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas"
        path_translation: APPEND_PATH_TO_ADDRESS
    options:
      operationId: corsOptionsGetVendedor
      parameters:        
      - in: path
        name: vendedor_id
        type: string
        required: true
        description: String ID de la vendedore
      responses:
        200:
          description: "Lista de vendedores generadas"
        404:
          description: "No se encontró esa vendedore"
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/ventas
      responses:
        '200':
          description: A successful response
  
  /api/plan:
    post:
      security:
        - firebase: []
      operationId: "crearPlan"
      summary: Crear Plan nueva
      responses:
        200:
          description: Visita nueva creada correctamente
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas/api/plan"
    options:
      operationId: corsCrearPlan
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/ventas
      responses:
        '200':
          description: A successful response
    get:
      security:
        - firebase: []
      operationId: "listplan"
      summary: "Listas plan que han sido generadas"
      description: "Devuleve la lista de plan que se han generado"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de plan generadas"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas/api/plan"
        
  /api/plan/{plan_id}:
    get:
      security:
        - firebase: []
      operationId: "getplan"
      summary: "Obtener una plan que ha sido generada"
      description: "Devuleve la vendedore que se han generado"
      produces: 
        - "application/json"
      parameters:        
      - in: path
        name: plan_id
        type: string
        required: true
        description: String ID de la vendedore
      responses:
        200:
          description: "Lista de plan generadas"
        404:
          description: "No se encontró esa vendedore"
      x-google-backend:
        address: "http://kubernetes-gateway.cppxcode.shop/ventas"
        path_translation: APPEND_PATH_TO_ADDRESS
    options:
      operationId: corsOptionsGetPlan
      parameters:        
      - in: path
        name: plan_id
        type: string
        required: true
        description: String ID de la vendedore
      x-google-backend:
        address: http://kubernetes-gateway.cppxcode.shop/ventas
      responses:
        '200':
          description: A successful response

  /api/reportes/vendedor/{vendedor_id}:
    get:
      security:
        - firebase: []
      operationId: "getReportesVendedor"
      summary: "Obtener reportes de ventas por vendedor"
      description: "Devuelve los reportes de ventas asociados a un vendedor específico"
      produces: 
        - "application/json"
      parameters:        
      - in: path
        name: vendedor_id
        type: string
        required: true
        description: "ID del vendedor"
      - in: query
        name: fecha_inicio
        type: string
        required: false
        description: "Fecha de inicio para filtrar (formato YYYY-MM-DD)"
      - in: query
        name: fecha_fin
        type: string
        required: false
        description: "Fecha de fin para filtrar (formato YYYY-MM-DD)"
      responses:
        200:
          description: "Lista de reportes de ventas del vendedor"
        404:
          description: "No se encontraron reportes para el vendedor especificado"
      x-google-backend:
        address: "http://ventas_report.cppxcode.shop/reportes"
        path_translation: APPEND_PATH_TO_ADDRESS
    options:
      operationId: corsOptionsGetReportesVendedor
      parameters:        
      - in: path
        name: vendedor_id
        type: string
        required: true
        description: "ID del vendedor"
      x-google-backend:
        address: "http://ventas_report.cppxcode.shop/reportes"
      responses:
        '200':
          description: "Respuesta CORS exitosa"