<div class="route-stop-add-page">
  <span class="route-stop-add-title" i18n>
    Agregar Punto de Entrega
  </span>
  <div class="route-stop-add-column">
    <div class="form-column-root">
      <div class="form-column">
        <div class="form-row">
          <span class="form-row-text">
            Vendedor:
          </span>
          <mat-form-field appearance="outline" class="form-field" [subscriptSizing]="'dynamic'">
            <mat-select>
              @for (client of clientes; track client){
              <mat-option value="option">{{client.nombre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <span class="form-row-text">
            Cliente:
          </span>
          <mat-form-field appearance="outline" class="form-field" [subscriptSizing]="'dynamic'">
            <mat-select>
              @for (client of clientes; track client){
              <mat-option value="option">{{client.nombre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-column">
        <div class="form-row">
          <span class="form-row-text">
            Fecha:
          </span>
          <mat-form-field class="form-field" [subscriptSizing]="'dynamic'">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="agregar-stop-row">
          <button mat-flat-button class="agregar-ruta-button" i18n>
            Agregar Punto de Entrega
          </button>
          <button mat-flat-button class="agregar-ruta-button" i18n>
            Agregar Punto de Entrega
          </button>
        </div>
      </div>
    </div>
  </div>
</div>