swagger: "2.0"
info:
  title: "API de Microservicios"
  version: "1.0.0"
host: "microservicios-gateway-1qkjvfz9.uc.gateway.dev"
schemes:
  - "https"
security:
  - firebase: []
x-google-endpoints:
  - name: "microservicios-gateway-1qkjvfz9.uc.gateway.dev"
    allowCors: True
paths:
  /api/compras/detalle:
    post:
      operationId: "createDetalleCompra"
      summary: "Crear detalle de compra"
      description: "Crea un detalle de compra en el sistema de compras."
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Datos del detalle de compra"
          required: true
          schema:
            type: "object"
            properties:
              nombre:
                type: "string"
              fabricante_id:
                type: "integer"
              cantidad:
                type: "integer"
              precio:
                type: "number"
      responses:
        201:
          description: "Detalle de compra creado"
      x-google-backend:
        address: "http://compras.cppxcode.shop/api/compras/detalle"

  /api/fabricantes:
    get:
      operationId: "listFabricantes"
      summary: "Listar fabricantes"
      description: "Devuelve una lista de fabricantes en el sistema de compras."
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de fabricantes"
      x-google-backend:
        address: "http://compras.cppxcode.shop/api/fabricantes"
    post:
      operationId: "createFabricante"
      summary: "Crear fabricante"
      description: "Crea un detalle de compra en el sistema de compras."
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Datos del fabricante"
          required: true
          schema:
            type: "object"
            properties:
              nombre:
                type: "string"
              correo:
                type: "string"
              telefono:
                type: "string"
              empresa:
                type: "string"
      responses:
        201:
          description: "Fabricante creado"
      x-google-backend:
        address: "http://compras.cppxcode.shop/api/fabricantes"

  /api/inventarios/productos:
    get:
      operationId: "listInventarioProductos"
      summary: "Listar productos en inventario"
      description: "Devuelve la lista de productos registrados en inventario."
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de productos en inventario"
      x-google-backend:
        address: "http://inventarios.cppxcode.shop/api/inventarios/productos"
  
  /api/rutas:
    get:
      operationId: "listRutas"
      summary: "Listas rutas que han sido generadas"
      description: "Devuleve la lista de rutas que se han generado"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de rutas generadas"
      x-google-backend:
        address: "http://logistica.cppxcode.shop/route"

  /api/rutas/{route_id}:
    get:
      operationId: "getRuta"
      summary: "Obtener una rutas que ha sido generada"
      description: "Devuleve la ruta que se han generado"
      produces:
        - "application/json"
      parameters:        
      - in: path
        name: route_id
        type: string
        required: true
        description: String ID de la ruta
      responses:
        200:
          description: "Lista de rutas generadas"
        404:
          description: "No se encontró esa ruta"
      x-google-backend:
        address: "http://logistica.cppxcode.shop/route"
        
  /api/add-stop-route:
    post:
      operationId: "addStop"
      summary: Add a stop to a route
      description: Adds a new stop to an existing route by ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Stop data and route ID
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                example: 17008418-3720-4530-9a59-760e9c8a7750
              parada:
                type: object
                properties:
                  nombre:
                    type: string
                    example: Parada 3
                  fecha:
                    type: string
                    example: 01/02/2026
                  cliente:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Cliente 1
                      direccion:
                        type: string
                        example: Cra. 11, 82-71, Bogotá, Colombia
                  vendedor:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Vendedor 1
                      direccion:
                        type: string
                        example: Calle 149, 16-56, Bogotá, Colombia
      responses:
        200:
          description: Stop successfully added to the route
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: true
              message:
                type: string
                example: Stop added to route successfully
        400:
          description: Invalid input
        500:
          description: Server error
      x-google-backend:
        address: "http://logistica.cppxcode.shop/add-stop-route"
  
  /api/generate-route:
    post:
      operationId: "generarRuta"
      summary: "Obtener una rutas que ha sido generada"
      description: "Devuleve la ruta que se han generado"
      produces:
        - "application/json"
      parameters:
      - in: body
        name: body
        description: Ruta con paradas
        required: true
        schema:
          type: object
          properties:
            nombre:
              type: string
              example: Ruta 1
            inicio:
              type: string
              example: Cl. 114a #45-78, Bogota, Colombia
            fin:
              type: string
              example: Cl. 114a #45-78, Bogota, Colombia
            paradas:
              type: array
              items:
                type: object
                properties:
                  nombre:
                    type: string
                    example: Parada 1
                  fecha:
                    type: string
                    example: 01/02/2026
                  cliente:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Cliente 1
                      direccion:
                        type: string
                        example: Cra. 11, 82-71, Bogotá, Colombia
                  vendedor:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Vendedor 1
                      direccion:
                        type: string
                        example: Calle 149, 16-56, Bogotá, Colombia
      responses:
        200:
          description: "Lista de rutas generadas"
        404:
          description: "No se encontró esa ruta"
      x-google-backend:
        address: "http://logistica.cppxcode.shop/generate-route"

  /api/productos:
    get:
      operationId: "getProductos"
      summary: Obtener lista de productos
      responses:
        200:
          description: Lista de productos
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                amount:
                  type: integer
                price:
                  type: number
                  format: float
      x-google-backend:
        address: "http://pedidos.cppxcode.shop/productos"

  /api/clientes:
    get:
      operationId: "getClientes"
      summary: Obtener lista de clientes
      responses:
        200:
          description: Lista de clientes
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
      x-google-backend:
        address: "http://pedidos.cppxcode.shop/clientes"

  /api/pedidos:
    get:
      operationId: "getPedidos"
      summary: Obtener lista de pedidos
      responses:
        200:
          description: Lista de pedidos
      x-google-backend:
        address: "http://pedidos.cppxcode.shop/pedidos"

  /api/create_pedido:
    post:
      operationId: "crearPedido"
      summary: Crear un nuevo pedido
      responses:
        200:
          description: Pedido creado correctamente
      x-google-backend:
        address: "http://pedidos.cppxcode.shop/create_pedido"

