swagger: "2.0"
info:
  title: "API de Microservicios"
  version: "1.0.0"
host: "microservicios-gateway-1qkjvfz9.uc.gateway.dev"
schemes:
  - "https"
security: []

x-google-endpoints:
  - name: "microservicios-gateway-1qkjvfz9.uc.gateway.dev"
    allowCors: True
paths:
  /api/productos:
    post:
      operationId: "createProducto"
      summary: "Crear prductos"
      description: "Crea productos en el sistema de compras."
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Datos del producto"
          required: true
          schema:
            type: "object"
            properties:
              nombre:
                type: "string"
              fabricante_id:
                type: "integer"
              cantidad:
                type: "integer"
              precio:
                type: "number"
              moneda:
                type: "string"
              bodega:
                type: "string"
              estante:
                type: "string"
              pasillo:
                type: "string"
            required:
            - nombre
            - fabricante_id
            - cantidad
            - precio
            - moneda
            - bodega
            - estante
            - pasillo
              
      responses:
        201:
          description: "Producto creado"
      x-google-backend:
        address: "http://compras.cppxcode.shop/api/productos"
    options:
      operationId: corsCreateProducto
      x-google-backend:
        address: http://compras.cppxcode.shop
      responses:
        '200':
          description: A successful response

  /api/fabricantes:
    get:
      operationId: "listFabricantes"
      summary: "Listar fabricantes"
      description: "Devuelve una lista de fabricantes en el sistema de compras."
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de fabricantes"
      x-google-backend:
        address: "http://compras.cppxcode.shop/api/fabricantes"
    post:
      operationId: "createFabricante"
      summary: "Crear fabricante"
      description: "Crea un fabricante en el sistema de compras."
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Datos del fabricante"
          required: true
          schema:
            type: "object"
            properties:
              nombre:
                type: "string"
              correo:
                type: "string"
              telefono:
                type: "string"
              empresa:
                type: "string"
      responses:
        201:
          description: "Fabricante creado"
      x-google-backend:
        address: "http://compras.cppxcode.shop/api/fabricantes"
    options:
      operationId: corsAddFabricante
      x-google-backend:
        address: http://compras.cppxcode.shop/api/fabricantes
      responses:
        '200':
          description: A successful response

  /api/fabricantes/upload:
    post:
      operationId: "uploadFabricantes"
      summary: "Carga masiva de fabricantes"
      description: "Permite la carga masiva de fabricantes mediante un archivo CSV con los campos: nombre, correo, telefono y empresa."
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - in: "formData"
          name: "file"
          description: "Archivo CSV con los campos: nombre, correo, telefono y empresa"
          required: true
          type: "string"
          format: "binary"
      responses:
        200:
          description: "Carga masiva procesada"
          schema:
            type: "object"
            properties:
              inserted:
                type: "integer"
              errors:
                type: "array"
                items:
                  type: "string"
      x-google-backend:
        address: "http://compras.cppxcode.shop/api/fabricantes/upload"
    options:
      operationId: "corsUploadFabricantes"
      x-google-backend:
        address: "http://compras.cppxcode.shop/api/fabricantes/upload"
      responses:
        '200':
          description: "CORS response"        

  /api/inventarios/pedidos:
    get:
      operationId: "listInventarioPedidos"
      summary: "Listar productos en invematrio para pedidos"
      description: "Lista todos los productos del inventario con campos básicos: producto_id, nombre, precio y stock para realizar pedidos"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de productos en inventario"
          schema:
            type: "array"
            items:
              type: "object"
              properties:
                producto_id:
                  type: "integer"
                nombre:
                  type: "string"
                precio:
                  type: "number"
                fabricante_id:
                  type: "integer"
                stock:
                  type: "integer"
      x-google-backend:
        address: "http://inventarios.cppxcode.shop/api/inventarios/pedidos"
    options:
      operationId: "corsListInventarioProductos"
      x-google-backend:
        address: "http://inventarios.cppxcode.shop/api/inventarios/pedidos"
      responses:
        '200':
          description: "CORS preflight response"

  /api/inventarios/ubicacion:
    get:
      operationId: "listInventarioUbicacion"
      summary: "Listar productos con ubicación"
      description: "Lista productos con ubicación; retorna producto_id, nombre, bodega y cantidad para la localizacion de productos en bodega"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de productos con ubicación"
          schema:
            type: "array"
            items:
              type: "object"
              properties:
                producto_id:
                  type: "integer"
                nombre:
                  type: "string"
                bodega:
                  type: "string"
                cantidad:
                  type: "integer"
      x-google-backend:
        address: "http://inventarios.cppxcode.shop/api/inventarios/ubicacion"
    options:
      operationId: "corsListInventarioUbicacion"
      x-google-backend:
        address: "http://inventarios.cppxcode.shop/api/inventarios/ubicacion"
      responses:
        '200':
          description: "CORS preflight response"

  /api/inventarios/{producto_id}:
    get:
      operationId: "getInventarioProducto"
      summary: "Detalle completo de producto en inventario"
      description: "Devuelve el detalle completo de un producto, incluyendo datos del producto y del inventario (stock, bodega, estante y pasillo)."
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "producto_id"
          type: "integer"
          required: true
          description: "ID del producto"
      responses:
        200:
          description: "Detalle completo del producto en inventario"
          schema:
            type: "object"
            properties:
              producto_id:
                type: "integer"
              nombre:
                type: "string"
              descripcion:
                type: "string"
              precio:
                type: "number"
              fabricante_id:
                type: "integer"
              stock:
                type: "integer"
              bodega:
                type: "string"
              estante:
                type: "string"
              pasillo:
                type: "string"
        404:
          description: "Producto no encontrado"
      x-google-backend:
        address: "http://inventarios.cppxcode.shop/api/inventarios"
        path_translation: APPEND_PATH_TO_ADDRESS
  
  
  /api/route:
    get:
      operationId: "listRutas"
      summary: "Listas rutas que han sido generadas"
      description: "Devuleve la lista de rutas que se han generado"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de rutas generadas"
      x-google-backend:
        address: "http://logistica.cppxcode.shop/api/route"

  /api/route/{route_id}:
    get:
      operationId: "getRuta"
      summary: "Obtener una rutas que ha sido generada"
      description: "Devuleve la ruta que se han generado"
      produces:
        - "application/json"
      parameters:        
      - in: path
        name: route_id
        type: string
        required: true
        description: String ID de la ruta
      responses:
        200:
          description: "Lista de rutas generadas"
        404:
          description: "No se encontró esa ruta"
      x-google-backend:
        address: "http://logistica.cppxcode.shop"
        path_translation: APPEND_PATH_TO_ADDRESS
        
  /api/add-stop-route:
    post:
      operationId: "addStop"
      summary: Add a stop to a route
      description: Adds a new stop to an existing route by ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Stop data and route ID
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                example: 17008418-3720-4530-9a59-760e9c8a7750
              parada:
                type: object
                properties:
                  nombre:
                    type: string
                    example: Parada 3
                  fecha:
                    type: string
                    example: 01/02/2026
                  cliente:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Cliente 1
                      direccion:
                        type: string
                        example: Cra. 11, 82-71, Bogotá, Colombia
                  vendedor:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Vendedor 1
                      direccion:
                        type: string
                        example: Calle 149, 16-56, Bogotá, Colombia
      responses:
        200:
          description: Stop successfully added to the route
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: true
              message:
                type: string
                example: Stop added to route successfully
        400:
          description: Invalid input
        500:
          description: Server error
      x-google-backend:
        address: "http://logistica.cppxcode.shop/api/add-stop-route"
    options:
      operationId: corsAddStop
      x-google-backend:
        address: http://logistica.cppxcode.shop
      responses:
        '200':
          description: A successful response
  
  /api/generate-route:
    post:
      operationId: "generarRuta"
      summary: "Obtener una rutas que ha sido generada"
      description: "Devuleve la ruta que se han generado"
      produces:
        - "application/json"
      parameters:
      - in: body
        name: body
        description: Ruta con paradas
        required: true
        schema:
          type: object
          properties:
            nombre:
              type: string
              example: Ruta 1
            inicio:
              type: string
              example: Cl. 114a #45-78, Bogota, Colombia
            fin:
              type: string
              example: Cl. 114a #45-78, Bogota, Colombia
            paradas:
              type: array
              items:
                type: object
                properties:
                  nombre:
                    type: string
                    example: Parada 1
                  fecha:
                    type: string
                    example: 01/02/2026
                  cliente:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Cliente 1
                      direccion:
                        type: string
                        example: Cra. 11, 82-71, Bogotá, Colombia
                  vendedor:
                    type: object
                    properties:
                      nombre:
                        type: string
                        example: Vendedor 1
                      direccion:
                        type: string
                        example: Calle 149, 16-56, Bogotá, Colombia
      responses:
        200:
          description: "Lista de rutas generadas"
        404:
          description: "No se encontró esa ruta"
      x-google-backend:
        address: "http://logistica.cppxcode.shop/api/generate-route"
    options:
      operationId: corsGenerateRoute
      x-google-backend:
        address: http://logistica.cppxcode.shop
      responses:
        '200':
          description: A successful response

  /api/clientes:
    get:
      operationId: "getClientes"
      summary: Obtener lista de clientes
      responses:
        200:
          description: Lista de clientes
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
      x-google-backend:
        address: "http://pedidos.cppxcode.shop/clientes"

  /api/pedidos:
    get:
      operationId: "getPedidos"
      summary: Obtener lista de pedidos
      responses:
        200:
          description: Lista de pedidos
      x-google-backend:
        address: "http://pedidos.cppxcode.shop/pedidos"

  /api/create_pedido:
    post:
      operationId: "crearPedido"
      summary: Crear un nuevo pedido
      responses:
        200:
          description: Pedido creado correctamente
      x-google-backend:
        address: "http://pedidos.cppxcode.shop/create_pedido"
    options:
      operationId: corsCreatePedido
      x-google-backend:
        address: http://pedidos.cppxcode.shop
      responses:
        '200':
          description: A successful response

  /api/clients:
    post:
      operationId: "crearCliente"
      summary: Crear Visita nueva
      responses:
        200:
          description: Visita nueva creada correctamente
      x-google-backend:
        address: "http://ventas.cppxcode.shop/clients"
    options:
      operationId: corsCrearCliente
      x-google-backend:
        address: http://ventas.cppxcode.shop
      responses:
        '200':
          description: A successful response
    get:
      operationId: "listclientes"
      summary: "Listas clientes que han sido generadas"
      description: "Devuleve la lista de clientes que se han generado"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de clientes generadas"
      x-google-backend:
        address: "http://ventas.cppxcode.shop/clients"

  /api/clients/{client_id}:
    get:
      operationId: "getCliente"
      summary: "Obtener una Clientes que ha sido generada"
      description: "Devuleve la Cliente que se han generado"
      produces: 
        - "application/json"
      parameters:        
      - in: path
        name: client_id
        type: string
        required: true
        description: String ID de la Cliente
      responses:
        200:
          description: "Lista de Clientes generadas"
        404:
          description: "No se encontró esa Cliente"
      x-google-backend:
        address: "http://ventas.cppxcode.shop"
        path_translation: APPEND_PATH_TO_ADDRESS

  /api/visits:
    post:
      operationId: "crearVisita"
      summary: Crear Visita nueva
      responses:
        200:
          description: Visita nueva creada correctamente
      x-google-backend:
        address: "http://ventas.cppxcode.shop/visits"
    options:
      operationId: corsCrearVisita
      x-google-backend:
        address: http://ventas.cppxcode.shop/visits
      responses:
        '200':
          description: A successful response
    get:
      operationId: "listvisitas"
      summary: "Listas visitas que han sido generadas"
      description: "Devuleve la lista de visitas que se han generado"
      produces:
        - "application/json"
      responses:
        200:
          description: "Lista de visitas generadas"
      x-google-backend:
        address: "http://ventas.cppxcode.shop/visits"
  
  /command/api/upload:
    post:
      operationId: "uploadVideoCommand"
      summary: "Subir video para procesamiento"
      description: >
        Sube un video para iniciar el procesamiento. El endpoint recibe un archivo en el 
        campo "video" y retorna un `job_id` junto 
        con el estado del procesamiento.
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - in: "formData"
          name: "video"
          type: "string"
          format: "binary"
          description: "Archivo de video a subir"
          required: true
      responses:
        201:
          description: "Video subido exitosamente. Se retorna el job_id y el estado del procesamiento."
          schema:
            type: "object"
            properties:
              job_id:
                type: "string"
              status:
                type: "string"
      x-google-backend:
        address: "http://videoprocess/command/api/upload"
    options:
      operationId: "corsUploadVideo"
      x-google-backend:
        address: "http://videoprocess.cppxcode.shop/command/api/upload"
      responses:
        '200':
          description: "Respuesta CORS exitosa"

    
  /query/api/recommend:
    get:
      operationId: "getRecommendation"
      summary: "Obtener recomendación por job_id"
      description: >
        Consulta la recomendación generada para un job a partir de su `job_id` pasado como 
        parámetro de query. Retorna los datos completos de la recomendación basado en el video.
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "job_id"
          type: "string"
          required: true
          description: "Identificador del job para buscar la recomendación"
      responses:
        200:
          description: "Recomendación encontrada"
          schema:
            type: "object"
            properties:
              job_id:
                type: "string"
              final_state:
                type: "string"
              final_recommendation:
                type: "string"
              identified_objects:
                type: "string"
        400:
          description: "El parámetro 'job_id' es requerido."
        404:
          description: "No se encontró una recomendación para el job_id proporcionado."
      x-google-backend:
        address: "http://recomendations.cppxcode.shop/query/api/recommend"
    options:
      operationId: "corsGetRecommendation"
      x-google-backend:
        address: "http://recomendations.cppxcode.shop/query/api/recommend"
      responses:
        '200':
          description: "Respuesta CORS exitosa"