<div class="form-wrapper">
  <h2 class="titulo">{{ 'FABRICANTES.FABRICANTES_ADD' | translate }}</h2>

  <form [formGroup]="fabricanteForm" (ngSubmit)="onSubmit()" class="campos">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'COMMON.NAME' | translate }}</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="enviado && f['nombre'].errors">Requerido / máx 150</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'LOGIN.USERNAME' | translate }}</mat-label>
      <input matInput type="email" formControlName="correo" />
      <mat-error *ngIf="enviado && f['correo'].errors">Correo inválido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'COMMON.PHONE' | translate }}</mat-label>
      <input matInput type="tel" formControlName="telefono" />
      <mat-error *ngIf="enviado && f['telefono'].errors">7‑15 dígitos</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'COMMON.COMPANY' | translate }}</mat-label>
      <input matInput formControlName="empresa" />
      <mat-error *ngIf="enviado && f['empresa'].errors">Requerida / máx 150</mat-error>
    </mat-form-field>

    <div class="acciones">
      <button mat-flat-button class="save-btn" type="submit" >{{ 'COMMON.SAVE' | translate }}</button>
      <button mat-flat-button class="cancel-btn" type="button" (click)="onCancel()">{{ 'COMMON.CANCEL' | translate }}</button>
    </div>

    <p class="mensaje" *ngIf="mensajeServidor">{{ mensajeServidor }}</p>
  </form>
</div>