<div class="menu-fabricantes">
    

<div class="botones">
  <button mat-raised-button class="menu-btn" routerLink="/fabricantes/listar">
    {{ 'FABRICANTES.FABRICANTES_LIST' | translate }}
  </button>

  <button mat-raised-button class="menu-btn" routerLink="/fabricantes/seleccion-carga">
    {{ 'FABRICANTES.FABRICANTES_ADD' | translate }}
  </button>

  <button mat-raised-button class="menu-btn" routerLink="/fabricantes/seleccion-carga-productos">
    {{ 'FABRICANTES.PRODUCTS' | translate }}
  </button>

</div>
</div>