@if (showNavbar) {
  <section class="navigation-button-list">
    <div class="nav-button-row">
      @for (tab of tabs; track tab) {
        @if (isPath(tab)) {
          <a mat-flat-button class="nav-button-disabled" [attr.data-cy]="'menu-item-' + tab.name">
            {{ tab.translationKey | translate }}
          </a>
        }
        @else {
          <a mat-flat-button class="nav-button" [routerLink]="[tab.route]" [attr.data-cy]="'menu-item-' + tab.name">
            {{ tab.translationKey | translate }}
          </a>
        }
      }
    </div>
  </section>
}