@if (showNavbar) {
  <section class="navigation-button-list">
    <div class="nav-button-row">
      @for (tab of tabs; track tab) {
        @if (isPath(tab)) {
          <a mat-flat-button class="nav-button-disabled" data-cy="menu-item-{{tab.name}}">{{ tab.name }}</a>
        }
        @else {
          <!-- Agregar data-cy para identificar fácilmente el menú en las pruebas -->
          <a mat-flat-button class="nav-button" [routerLink]="[tab.route]" data-cy="menu-item-{{tab.name}}">{{ tab.name }}</a>
        }
      }
    </div>
  </section>
}