<div class="menu-fabricantes">
    


  <div class="botones">
    <button mat-raised-button class="menu-btn" routerLink="/">
      {{ 'SALES.SALES_PLAN' | translate }}
    </button>
  
    <button mat-raised-button class="menu-btn" routerLink="/plan/add">
      {{ 'SALES.CREATE_SALES_PLAN' | translate }}
    </button>
  
    <button mat-raised-button class="menu-btn" routerLink="/ventas/vendedor/list">
      {{ 'SALES.LIST_SELLERS' | translate }}
    </button>
  
    <button mat-raised-button class="menu-btn" routerLink="/ventas/vendedor/add">
      {{ 'SALES.REGISTER_SELLER' | translate }}
    </button>
  </div>
  </div>