<div class="route-stop-add-page">
  <span class="route-stop-add-title" i18n>
    Agregar Ruta
  </span>
  <div class="route-stop-add-column">
    <form class="form-column-root" [formGroup]="crearRutaForm" (ngSubmit)="onSubmit()">
      <div class="form-column">
        <div class="form-row">
          <span class="form-row-text" i18n>
            Nombre:
          </span>
          <mat-form-field  appearance="outline" class="form-field" [subscriptSizing]="'dynamic'">
            <mat-label i18n>Nombre </mat-label>
            <input matInput formControlName="nombre" name="nombre">
          </mat-form-field>
        </div>
        <div class="form-row">
          <span class="form-row-text" i18n>
            Inicio:
          </span>
          <mat-form-field appearance="outline" class="form-field" [subscriptSizing]="'dynamic'">
            <mat-label i18n>Ex: Calle 1#20-84, Bogota, Colombia </mat-label>
            <input matInput formControlName="inicio">
          </mat-form-field>
        </div>
        <div class="form-row">
          <span class="form-row-text" i18n>
            Fin:
          </span>
          <mat-form-field appearance="outline" class="form-field" [subscriptSizing]="'dynamic'">
            <mat-label i18n>Ex: Calle 1#20-84, Bogota, Colombia </mat-label>
            <input matInput formControlName="fin" name="fin">
          </mat-form-field>
        </div>
      </div>
      <div class="form-column">
        <div class="form-row">
          <span class="form-row-text">
            Fecha:
          </span>
          <mat-form-field class="form-field" [subscriptSizing]="'dynamic'">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="fecha"/>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </div>
        <div class="agregar-buttons-row">
          <button mat-flat-button class="crear-ruta-button" i18n>
            Crear Ruta
          </button>
          <button mat-flat-button class="cancelar-crear-ruta-button" i18n (click)="cancelar()">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>