
  <div class="form-wrapper">
    <h2>{{ 'FABRICANTES.FABRICANTES_LIST' | translate }}</h2>
   

    <div class="file-upload-container">
      <label class="file-label" for="archivo">{{ 'COMMON.FILE' | translate }}:</label>
      
      <div class="custom-file-upload">
     
        <input
          id="archivo"
          type="file"
          (change)="onFileSelected($event)"
          accept=".csv"
        />
        <span class="upload-icon"> 
          &#x1F4E4;
        </span>
      </div>
    </div>

    <div *ngIf="message" class="response-message">{{ message }}</div>
    <div *ngIf="errorMessages && errorMessages.length" class="error-messages">
      <ul>
        <li *ngFor="let err of errorMessages">{{ err }}</li>
      </ul>
    </div>

    <div class="acciones">
      <button mat-flat-button class="subir-btn" (click)="uploadFile()">{{ 'FABRICANTES.FABRICANTES_LOAD' | translate }}</button>
      <button mat-flat-button class="cancel-btn" (click)="cancelar()">{{ 'COMMON.CANCEL' | translate }}</button>
    </div>


  
  <div class="loading-overlay" *ngIf="isLoading">
    <img src="loading.gif" alt="Cargando..." />
  </div>