<div class="route-page">
  <div class="route-column">
    <span class="route-title" i18n>
      Paradas
    </span>
    <div class="agregar-ruta-row">
      <button mat-flat-button class="agregar-ruta-button" i18n (click)="navigateTo('/stop/add')">
        Agregar Parada
      </button>
    </div>
    <div class="route-list">
      @if( route | async; as route){
        @for (parada of route.paradas; track $index; let idx = $index) {
        <div class="route-row">
          <span class="route-row-text">
            {{parada.nombre}}
          </span>
           <span class="route-row-text" i18n>
            Desplazamiento: {{Math.ceil(getPedidoDuration(getPedidoAndLeg((route?.paradas && route!!.paradas.length > 0) ? route!!.paradas : [], route?.mapsResponse, $index)))}} min
           </span >
          <span class="route-row-text">
            {{parada.fecha}}
          </span>
        </div>
        }
        <div class="map-container">
          @if(route.mapsResponse){
          <google-map class="map" [width]="'100%'" [center]="getCenter(route.mapsResponse[0].bounds)" (mapInitialized)="fitBounds(route, $event)" >
            @for (marker of getMarkers(route.mapsResponse[0].legs); track marker.position){
              <map-marker 
                [position]="marker.position" 
                [title]="marker.title" 
                [label]="marker.label"  
              />
            }
            <map-polyline [options]="getPath(route.mapsResponse)"/>
          </google-map>}
        </div>
      }
    </div>
  </div>
</div>