<div class="route-page">
  <div class="route-column">

    <span class="route-title" i18n>
      {{ 'ROUTES.ROUTE_LIST' | translate }}
    </span>
    <div class="form-row">
      <span class="form-row-text">
        {{ 'COMMON.DATE' | translate }}:
      </span>
      <form >
        <mat-form-field class="form-field" appearance="outline" [subscriptSizing]="'dynamic'">
          <input matInput [matDatepicker]="datepicker" [formControl]="dateFilter" (dateInput)="filterRoutes()"/>
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>{{ 'COMMON.CANCEL' | translate }}</button>
              <button mat-raised-button matDatepickerApply>{{ 'COMMON.APPLY' | translate }}</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </form>
    </div>
    <div class="agregar-ruta-row">
      <button mat-flat-button class="agregar-ruta-button" i18n (click)="navigateToRouteAdd()">
        {{ 'ROUTES.ROUTE_ADD' | translate }}
      </button>
    </div>
    <div class="route-list">
      @for (route of filteredRoutes; track $index; let idx = $index) {
          <div class="route-row" (click)="navigateToRoute(route.id)" >
            <span class="route-row-text">
              {{route.nombreRuta}}
            </span>
            <span class="route-row-text">
              {{route.fecha}}
            </span>
          </div>
      }
    </div>
  </div>
</div>